In [32]:
# Make summary dataframe containing serum escape and cell entry effects

import pandas as pd

escape_df = pd.read_csv('../results/summaries/Phenotypes_per_antibody_escape.csv').drop(columns='antibody_set')
escape_df.head()

   site wildtype mutant          antibody   escape
0     1        Q      A  SCH23-y2009-s002  0.09797
1     1        Q      C  SCH23-y2009-s002 -0.06492
2     1        Q      D  SCH23-y2009-s002  0.03337
3     1        Q      E  SCH23-y2009-s002 -0.01448
4     1        Q      F  SCH23-y2009-s002 -0.11380

In [33]:
phenotypes_df = pd.read_csv('../results/summaries/Phenotypes.csv').drop(columns=['sera escape'])
phenotypes_df.head()

,site,wildtype,mutant,MDCKSIAT1 cell entry,pH stability,sequential_site,region,nt changes to codon
0,1,Q,A,-0.1226,0.004237,1,HA1,2
1,1,Q,C,-0.5732,-0.014300,1,HA1,3
2,1,Q,D,0.2550,-0.021900,1,HA1,2
3,1,Q,E,0.2941,0.006890,1,HA1,1
4,1,Q,F,-0.7141,-0.001402,1,HA1,3

In [34]:
# add wildtype rows so can be labeled with 'X' can be included in heatmaps
sera_list = escape_df['antibody'].drop_duplicates().tolist()

wt_df = pd.concat(
    [phenotypes_df.query('wildtype == mutant').assign(antibody=sera) for sera in sera_list],
    ignore_index=True
)[['site', 'wildtype', 'mutant', 'antibody']].assign(escape=0)

escape_df_with_wt = pd.concat(
    [escape_df, wt_df],
    ignore_index=True
)

escape_df_with_wt.head()

   site wildtype mutant          antibody   escape
0     1        Q      A  SCH23-y2009-s002  0.09797
1     1        Q      C  SCH23-y2009-s002 -0.06492
2     1        Q      D  SCH23-y2009-s002  0.03337
3     1        Q      E  SCH23-y2009-s002 -0.01448
4     1        Q      F  SCH23-y2009-s002 -0.11380

In [35]:
phenotypes_combined = pd.merge(
    escape_df_with_wt,
    phenotypes_df,
    on=['site', 'wildtype', 'mutant'],
    how='left'
)

phenotypes_combined.to_csv('data/heatmap_data/Phenotypes_per_antibody_escape_with_effects.csv', index=False)